<aside
        th:fragment="sidebar"
        class="sidebar"
>

    <nav class="sidebar-nav">

        <a
                th:href="@{/dashboard}"
                class="nav-item"
        >
            <span>📊</span>
            Dashboard
        </a>


        <a
                th:href="@{/clientes}"
                class="nav-item"
        >
            <span>👤</span>
            Clientes
        </a>


        <a
                th:href="@{/pets}"
                class="nav-item"
        >
            <span>🐾</span>
            Pets
        </a>


        <a
                th:href="@{/agendamentos}"
                class="nav-item"
        >
            <span>📅</span>
            Agendamentos
        </a>


        <a
                th:href="@{/pedidos}"
                class="nav-item"
        >
            <span>🧾</span>
            Pedidos
        </a>


        <a
                th:href="@{/financeiro}"
                class="nav-item"
        >
            <span>💰</span>
            Financeiro
        </a>


        <a
                th:href="@{/relatorios}"
                class="nav-item"
        >
            <span>📈</span>
            Relatórios
        </a>

    </nav>

</aside>
