<aside
        th:fragment="sidebar"
        class="sidebar"
>

    <nav class="sidebar-nav">

        <a
                th:href="@{/dashboard}"
                class="nav-item"
        >
            <span>📊</span>
            Dashboard
        </a>


        <a
                th:href="@{/cliente/listagem}"
                class="nav-item"
        >
            <span>👤</span>
            Clientes
        </a>


        <a
                th:href="@{/pet/listagem}"
                class="nav-item"
        >
            <span>🐾</span>
            Pets
        </a>

        <a
                th:href="@{/servico/listagem}"
                class="nav-item"
        >
            <span>🩺</span>
            Serviços
        </a>


        <a
                th:href="@{/agendamento/listagem}"
                class="nav-item"
        >
            <span>📅</span>
            Agendamentos
        </a>


        <a
                th:href="@{/pedido/listagem}"
                class="nav-item"
        >
            <span>🧾</span>
            Pedidos
        </a>


        <a
                th:href="@{/financeiro/listagem}"
                class="nav-item"
        >
            <span>💰</span>
            Financeiro
        </a>


        <a
                th:href="@{/relatorio/listagem}"
                class="nav-item"
        >
            <span>📈</span>
            Relatórios
        </a>

    </nav>

</aside>
