/* =========================
HEADER
========================= */

.header {
    height: 70px;

    background: #ffffff;

    border-bottom:
            1px solid #e5e7eb;

    display: flex;
    align-items: center;

}

.header-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding:
            0 30px;

}

.brand {
    text-decoration: none;

    font-size: 22px;

    font-weight: bold;

    color: #1f8a70;

}

.header-user {
    display: flex;

    align-items: center;

    gap: 20px;

}

.logout-button {
    border: none;

    background: #ef4444;

    color: white;

    padding:
            10px 18px;

    border-radius: 8px;

    cursor: pointer;

    font-weight: bold;

}
